<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

    <!-- Note: For some reason Bootstrap must be above the CSS -->

    <!-- Need this for BootStrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Need this for BootStrap -->

    <!-- Need this to style CSS-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <!-- Need this to style CSS -->

</head>
<body>
    <div>
        <nav class="navbar navbar-inverse">
            <!-- inverse basically changes the color of the navbar to black or any other color -->
            <div class=container-fluid>
                <!-- Line 20 and below is for the logo and header on the navbar -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                        <!-- topNavBar toggles the buttons on the navbar -->
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <!-- So we need 3 of these tags because we want 3 bars when the page minimizes for the navbar -->
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <a class="navbar-brand" href="">Wise Words</a>

                <!-- Items on out navbar are from 40 and onwards -->
                <div class="collapse navbar-collapse" id="topNavBar">
                    <!-- Due to top navbar all these items will become hidden -->
                    <ul class="nav navbar-nav navbar-right">
                        <!-- navbar-right moves the things inside to the right of the bar, vice versa -->
                        <li class="">
                            <a href="/homepage">
                                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp; Share Wise Words
                            </a>
                        </li>
                        <li class="">
                            <a href="/logout">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp; Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div>
        <h1 class="contactUsHeader">Get in Touch</h1>
        <h3>Want to get in touch? I'd love to be hired. Hear's how you can reach me...</h3>
    </div>
    <div>
        <img id="contactUsImage" src="{% static 'style/images/Contact_Banner.jpg' %}"/>
    </div>
    <div>
        <div>
            <!-- Add an image of a phone here, white background -->
            <h4>Contact me though cell</h4>
            <h4>Interested in what I have to offer your team? Just pick up the phone to chat with me today!</h4>
            <h4>703-371-1140</h4>
        </div>
        <div>
            <!-- Add an image of a email symbole, white background -->
            <h4>Sometimes emails are more professional, dont worry...I understand. Please contact me at your earliest convenience!</h4>
            <h4>yzyasirzafar@gmail.com</h4>
        </div>
    </div>
</body>
</html>