<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{loggedInUser.firstName}}</h1>
    <a href="/logout">Logout</a>
    <a href="/addPost">Share Some Wise Words</a>
    <!-- <p>{{allPosts}}</p>  Just checking if it works  --> 

    <h3>Wise Words you like</h3>
    <table>
        <tr>
          <th>Post Content</th>>
          <th>Posted by</th>>
          <th>Date Posted</th>>
          <th>Action</th>>
        </tr> 
        {% for postObject in likedPosts %} <!-- postObject is just a var name I made up, and likedPosts was made in the views file -->
        <tr>
            <td>{{postObject.wiseWords}}</td> <!-- wiseWords, .uploader, .firstName, .created_at: These are the terms from our model -->
            <td>{{postObject.uploader.firstName.capitalize}}</td> 
            <td>{{postObject.created_at}}</td>
            <td><a href="/like/{{postObject.id}}">Like Rant</a></td>  <!-- Here we include id because we want to focus in on the exact post that we are liking when we like it (because of the for loop)-->
            <!-- Should go to /like/3 for example -->
          </tr> 
        {% endfor%}
      </table>
    
      <h3>Wise Words you havent liked</h3>
      <table>
        <tr>
          <th>Post Content</th>>
          <th>Posted by</th>>
          <th>Date Posted</th>>
          <th>Action</th>>
        </tr> 
        {% for postObject in notLikedPosts %} <!-- postObject is just a var name I made up, and notLikedPosts was made in the views file in "context", we used the exclude ORM command -->
        <tr>
            <td>{{postObject.wiseWords}}</td> <!-- wiseWords, .uploader, .firstName, .created_at: These are the terms from our model -->
            <td>{{postObject.uploader.firstName.capitalize}}</td> 
            <td>{{postObject.created_at}}</td>
            <td><a href="/like/{{postObject.id}}">Like Rant</a> | {% if loggedInUser == postObject.uploader %} <a href="">Delete</a> {% endif %} </td>  <!-- Here we include id because we want to focus in on the exact post that we are liking when we like it (because of the for loop)-->
            <!-- Should go to /like/3 for example -->
          </tr> 
        {% endfor%}
      </table>
</body>
</html>