<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    
    <!-- Need this to style CSS-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <!-- Need this to style CSS -->

    <!-- Need this for BootStrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Need this for BootStrap -->
    
</head>
<body>
    <div>
        <nav class="navbar navbar-inverse">  <!-- inverse basically changes the color of the navbar to black or any other color -->
            <div class=container-fluid>
                <!-- Line 20 and below is for the logo and header on the navbar -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar"> <!-- topNavBar toggles the buttons on the navbar -->
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> <!-- So we need 3 of these tags because we want 3 bars when the page minimizes for the navbar -->
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <a class="navbar-brand" href="">Wise Words</a>

                <!-- Items on out navbar are from 40 and onwards -->
                <div class="collapse navbar-collapse" id="topNavBar"> <!-- Due to top navbar all these items will become hidden -->
                    <ul class="nav navbar-nav navbar-right"> <!-- navbar-right moves the things inside to the right of the bar, vice versa -->
                        <li class="">
                            <a href="/contactUs">
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp; Contact Us
                            </a>
                        </li>
                        <li class="">
                            <a href="/registerPage">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Register
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="loginRegContainer">
        <h1>Login for Wise Words</h1>

        <!-- This is needed to display the validation errors -->
        {% for message in messages %} <!-- messages was imported in the views file -->
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}  <!-- message.tags will also show they key along with the value of the errors object, ****** GO OVER .TAGS AGAIN ******--> 


        <form action="/login" method="post">  <!-- a shortcut to make a form is "form:post", nothing else needed -->
            <!-- Make sure to specify this is a post req -->
        
                {% csrf_token %} <!-- These tokens are a unique unpredictable value that is generated serverside and transmitted to the client. Basically when the later req is made, the serverside validates the rew based upon whether the token is present or not (or invalid). Prevents the attacker from to construct a fully valide HTTP req. -->

                <label >Email:</label><br>
                <input type="text" name="formEmail" id=""><br> 
        
                <label>Password:</label><br>
                <input type="password" name="formPassword" id=""><br>  <!-- the benefit of putting type="password is that what we now type in the bar is hidden" -->
        
                <input type="submit" value="Login"> 
        
        </form>
    </div>
</body>
</html>