<!-- To quickly make the base template, type ! and then do tab -->
<!-- STEP 10: Basically making the templates. Now we do everything together more or less. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register for Wise Words</h1>

    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}  <!-- message.tags will also show they key along with the value of the errors object -->

    <form action="/register" method="post">  <!-- a shortcut to make a form is "form:post", nothing else needed -->
    <!-- Make sure to specify this is a post req -->
 
        {% csrf_token %} <!-- These tokens are a unique unpredictable value that is generated serverside and transmitted to the client. Basically when the later req is made, the serverside validates the rew based upon whether the token is present or not (or invalid). Prevents the attacker from to construct a fully valide HTTP req. -->

        <label>First Name:</label><br>  <!-- br tag is for a single line break -->
        <input type="text" name="firstName" id=""><br>  <!-- type "input:text" or "input:password" to make a quick input tag-->
        
        <label>Last Name:</label><br>
        <input type="text" name="lastName" id=""><br>  <!-- Whatever information I want the form to have, I need to give them name attributes that will go to the backend -->

        <label>Email:</label><br>
        <input type="text" name="email" id=""><br>

        <label>Password:</label><br>
        <input type="password" name="password" id=""><br>  <!-- the benefit of putting type="password is that what we now type in the bar is hidden" -->

        <label>Confirm Password</label><br>
        <input type="password" name="confirmPW" id=""><br> <!-- For the info to be printed in the views page, we needed to add name attributes -->

        <input type="submit" value="Register"> 

    </form>
</body>
</html>